@import "tailwindcss";
:root{
  --color-primary:#48a3c2;
  --color-background:#0a0e0f;
  --color-sidebar:#161b1c;
  --color-text:#fcfffe;
}


@theme{
  --color-primary:var(--primary);
  --color-background:var(--background);
  --color-sidebar:var(--sidebar);
  --color-text:var(--text);
}
